body {
  background-color: #F2F6FC;
}

.student-dashboard-wrapper {
  background-color: #F2F6FC;
  padding: 60px 30px 60px 120px;
}

.student-dashboard-wrapper .student-main-bord .notifaction-box {
  background-color: #d0e4ff;
  padding: 15px;
  border-radius: 8px;
}

.student-dashboard-wrapper .student-main-bord .notifaction-box p {
  margin: 0 0 0 15px;
  color: #003385;
}

.student-dashboard-wrapper .student-main-bord .notifaction-box p a {
  text-decoration: underline;
  color: #003385;
}

.student-dashboard-wrapper .student-main-bord .heading-box h4 {
  font-size: 26px;
  color: #222;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main {
  overflow-x: auto;
  padding-bottom: 40px;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table {
  width: 2400px;
  padding-bottom: 40px;
  overflow-x: auto;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table thead:nth-child(odd) {
  background-color: #fff;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table thead th {
  padding: 15px 0;
  background-color: #073149;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  color: #fff;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table thead th:first-child {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 155px;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table tbody:nth-child(odd) {
  background-color: #fff;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table tbody:nth-child(odd) td {
  background-color: #fff;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table tbody:nth-child(even) td {
  background-color: #F2F6FC;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table tbody tr td {
  padding: 14px 0;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table tbody tr td:first-child {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 155px;
  font-size: 14px;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table tbody tr td:first-child span {
  font-size: 14px;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table tbody tr td:first-child a {
  font-size: 14px;
}

.student-dashboard-wrapper .student-main-bord .main-table-box .table_main table tbody tr td .dot_icon svg {
  width: 24px;
}

.main_addstudent {
  padding: 60px 30px 60px 120px;
}

.main_addstudent .student_box {
  background-color: #fff;
  width: 750px;
  border-radius: 12px;
  margin: auto;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.main_addstudent .student_box .box-text {
  position: relative;
}

.main_addstudent .student_box .box-text .heading {
  border-bottom: 1px solid #777;
  padding: 15px 0;
}

.main_addstudent .student_box .box-text .heading h4 {
  font-size: 26px;
  color: #222;
  margin-bottom: 0;
}

.main_addstudent .student_box .box-text .box_input_text {
  padding: 20px 35px;
}

.main_addstudent .student_box .box-text .box_input_text .close {
  outline: none;
}

.main_addstudent .student_box .box-text .box_input_text p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  color: #606a84;
}

.main_addstudent .student_box .box-text .box_input_text .input_textarea h5 {
  font-size: 18px;
  color: #073149;
}

.main_addstudent .student_box .box-text .box_input_text .input_textarea input {
  background-color: #F2F6FC;
  width: 100%;
  outline: none;
  width: 100%;
  height: 42px;
  border: 1px solid #073149;
  border-radius: 4px;
  padding: 0 18px;
  margin-bottom: 18px;
}

.main_addstudent .student_box .box-text .box_input_text .input_textarea input::-webkit-input-placeholder {
  color: #073149;
  font-size: 14px;
}

.main_addstudent .student_box .box-text .box_input_text .input_textarea input:-ms-input-placeholder {
  color: #073149;
  font-size: 14px;
}

.main_addstudent .student_box .box-text .box_input_text .input_textarea input::-ms-input-placeholder {
  color: #073149;
  font-size: 14px;
}

.main_addstudent .student_box .box-text .box_input_text .input_textarea input::placeholder {
  color: #073149;
  font-size: 14px;
}

.main_addstudent .student_box .box-text .box_input_text .input_textarea .add-student-wrapper .select__control {
  border: 1px solid #073149;
  background-color: #F2F6FC;
  height: 42px;
}

.main_addstudent .student_box .box-text .box_input_text .input_textarea .add-student-wrapper .select__control .select__single-value {
  font-size: 14px;
  color: #073149;
}

.main_addstudent .student_box .box-text .box_input_text .input_textarea .add-student-wrapper .select__control .select__indicators span {
  background-color: #073149;
}

.main_addstudent .student_box .box-text .box_input_text .input_textarea .add-student-wrapper .select__control .select__indicators svg {
  fill: #073149;
}

.main_addstudent .student_box .box-text .box_input_text .input_textarea .add-student-wrapper input {
  height: unset !important;
  outline: none;
}

.main_addstudent .student_box .box-text .btn-from {
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #073149;
  border-radius: 0 0 12px 12px;
}

.main_addstudent .student_box .box-text .btn-from button {
  border: 0;
  padding: 12px 0;
  text-align: center;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 0 0 0 12px;
}

.main_addstudent .student_box .box-text .btn-from button:hover {
  background-color: #073149;
  color: #fff;
}

.main_addstudent .student_box .box-text .btn-from .createstudent button {
  background-color: #073149;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 0 0 12px 0;
  border-left: 1px solid #073149;
}

.editstudent_main {
  padding: 60px 50px 60px 160px;
}

.editstudent_main .user-details-main {
  margin-bottom: 30px;
}

.editstudent_main .user-details-main .round_shap {
  width: 56px;
  height: 56px;
  background-color: #5abf93;
  border-radius: 50%;
}

.editstudent_main .user-details-main .round_shap span {
  font-size: 22px;
  line-height: 56px;
  font-weight: 600;
}

.editstudent_main .user-details-main .user_text h4 {
  font-size: 32px;
  color: #323847;
  margin-bottom: 0;
}

.editstudent_main .user-details-main .user_text .num_email .num_ank span {
  font-size: 14px;
  color: #606a84;
  padding-right: 16px;
  border-right: 1px solid #606a84;
  line-height: 19px;
}

.editstudent_main .user-details-main .user_text .num_email .email a {
  font-size: 14px;
  padding: 0 16px;
  border-right: 1px solid #606a84;
  line-height: 19px;
}

.editstudent_main .user-details-main .user_text .num_email .number a {
  font-size: 14px;
  padding: 0 16px;
}

.editstudent_main .edit-student-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #d2d6e1;
}

.editstudent_main .edit-student-wrapper ul li {
  display: inline-block;
  cursor: pointer;
}

.editstudent_main .edit-student-wrapper ul li span {
  padding: 20px 22px;
  display: block;
  font-size: 18px;
  color: #606a84;
}

.editstudent_main .edit-student-wrapper ul li span:hover {
  color: #073149;
}

.editstudent_main .profile-wrapper {
  padding: 15px;
}

.editstudent_main .profile-wrapper .to-switch .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.editstudent_main .profile-wrapper .to-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.editstudent_main .profile-wrapper .to-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.editstudent_main .profile-wrapper .to-switch .slider.round {
  border-radius: 34px;
}

.editstudent_main .profile-wrapper .to-switch .slider.round:before {
  border-radius: 50%;
}

.editstudent_main .profile-wrapper .to-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.editstudent_main .profile-wrapper .to-switch input:checked + .slider {
  background-color: #073149;
}

.editstudent_main .profile-wrapper .to-switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #073149;
          box-shadow: 0 0 1px #073149;
}

.editstudent_main .profile-wrapper .to-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.editstudent_main .profile-wrapper .from-main .from-title h3 {
  font-size: 22px;
  font-weight: 600;
  color: #073149;
  letter-spacing: 1px;
  margin: 32px 0 18px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box {
  background-color: #fff;
  border-radius: 25px;
  padding: 15px 30px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .info-alert .info_text {
  width: 90%;
  text-align: center;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .info-alert .info_text p {
  margin: 0;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .from-heading h4 {
  font-size: 28px;
  color: #073149;
  font-weight: 600;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .from-heading p {
  color: #848484;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .from-heading .alert-bg {
  background-color: #d0e4ff;
  color: #0044ab;
  padding: 15px 10px;
  margin-left: 5px;
  border-radius: 8px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .from-heading .alert-bg svg {
  margin-right: 5px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .from-heading .alert-bg svg path {
  fill: #0044ab;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details label {
  font-size: 14px;
  color: #000;
  margin-bottom: 3px;
  font-weight: 600;
  letter-spacing: .8px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details label span {
  color: red;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details input {
  background-color: #F2F6FC;
  width: 100%;
  outline: none;
  width: 100%;
  height: 42px;
  border: 1px solid #073149;
  border-radius: 4px;
  padding: 0 18px;
  margin-bottom: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details input::-webkit-input-placeholder {
  color: #073149;
  font-size: 14px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details input:-ms-input-placeholder {
  color: #073149;
  font-size: 14px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details input::-ms-input-placeholder {
  color: #073149;
  font-size: 14px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details input::placeholder {
  color: #073149;
  font-size: 14px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details textarea {
  background-color: #F2F6FC;
  width: 100%;
  outline: none;
  width: 100%;
  height: 85px;
  border: 1px solid #073149;
  border-radius: 4px;
  padding: 12px 18px;
  margin-bottom: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details textarea::-webkit-input-placeholder {
  color: #073149;
  font-size: 14px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details textarea:-ms-input-placeholder {
  color: #073149;
  font-size: 14px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details textarea::-ms-input-placeholder {
  color: #073149;
  font-size: 14px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .input_details textarea::placeholder {
  color: #073149;
  font-size: 14px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .drop_down .add-student-wrapper .basic-multi-select:focus-visible {
  outline: none;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .drop_down .add-student-wrapper .select__value-container:focus-visible {
  outline: none;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .drop_down .add-student-wrapper .select__control {
  border: 1px solid #073149;
  background-color: #F2F6FC;
  height: 42px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .drop_down .add-student-wrapper .select__control .select__single-value {
  font-size: 14px;
  color: #073149;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .drop_down .add-student-wrapper .select__control .select__indicators span {
  background-color: #073149;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .drop_down .add-student-wrapper .select__control .select__indicators svg {
  fill: #073149;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .drop_down .add-student-wrapper input {
  height: unset !important;
  outline: none;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .checkbox_box input {
  width: 25px;
  height: 25px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .alert-box .alert-name span {
  color: #ff0000;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .alert-box button {
  background-color: #0044ab;
  padding: 12px 22px;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .documents-box {
  border: 1px solid #cfcfcf;
  padding: 8px;
  border-radius: 8px;
}

.editstudent_main .profile-wrapper .from-main .bg-white-box .upload_icon img {
  width: 40px;
}

.editstudent_main .profile-wrapper .info_radio span {
  color: #ff0000;
}

.editstudent_main .profile-wrapper .footer .footer_link {
  color: #606A84;
  font-size: 18px;
}

.editstudent_main .profile-wrapper .footer .social_icon {
  list-style: none;
  margin: 0;
  padding: 0;
}

.editstudent_main .profile-wrapper .footer .social_icon li {
  display: inline-block;
  padding: 12px;
}

.editstudent_main .profile-wrapper .footer .footer_menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.editstudent_main .profile-wrapper .footer .footer_menu li {
  display: inline-block;
}

.editstudent_main .profile-wrapper .footer .footer_menu li a {
  font-size: 16px;
  color: #606A84;
  padding: 0 12px;
}

.editstudent_main .search-and-apply-wrapper {
  padding: 15px;
  background-color: #fff;
}

.editstudent_main .search-and-apply-wrapper .search_box_main {
  border-bottom: 1px solid #cecece;
}

.editstudent_main .search-and-apply-wrapper .search_box_main > div input {
  width: 380px;
  border: 1px solid #073149;
  height: 50px;
  padding: 0 12px;
  font-size: 14px;
  background-color: transparent;
  outline: none;
}

.editstudent_main .search-and-apply-wrapper .search_box_main > div input:first-child {
  border-right: 0;
  border-radius: 12px 0 0  12px;
}

.editstudent_main .search-and-apply-wrapper .search_box_main > div button {
  background-color: #073149;
  color: #fff;
  padding: 0 22px;
  border: 0;
  border-radius: 0 12px 12px 0;
  outline: none;
}

.editstudent_main .search-and-apply-wrapper .search_box_main > div button span {
  letter-spacing: 1px;
}

.editstudent_main .search-and-apply-wrapper .search_box_main > div button svg {
  fill: #fff;
  margin-right: 12px;
}

.drop-one {
  border: 1px solid #000;
  width: 300px;
}
/*# sourceMappingURL=index.css.map */